<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestaodeFrotas.DAL.Properties.Settings.GestaodeFrotas"
            connectionString="Data Source=HP430-PC\SQLEXPRESS01;Initial Catalog=db_GestaoDeFrotas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>